body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #b7b5fa;
}

.settings {
    margin: 20px;
}

button {
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    background-color: #1d7bef;
    color: rgb(151, 246, 221);
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #5362ee;
}

.wheel-container {
    position: relative;
    margin: 20px auto;
}

canvas {
    border: 2px solid black;
    background-color: rgb(113, 249, 217);
    border-radius: 50%;
}

.result {
    margin-top: 20px;
    font-size: 1.5em;
}